apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
patchesStrategicMerge:
  - ./patches/external-secret-traefik.yaml
  - ./patches/external-secret-cert-manager.yaml
  - ./patches/external-secret-proxmox-csi.yaml
